{% extends 'common.html' %}

{% block content %}

{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password </title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css" media="all" /> -->

</head>

<body>
    <div class="w3l-loginblock signinform">
        <!-- main content -->
        <section>
            <div class="container py-3 h-30 " >
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                    <form  method="post" class="">
                        {% csrf_token %}
                        <div class="form-grid" style="display: flex; justify-content: center; align-items: center; ">
                            <div class="input-field" >
                                <label> Email </label>
                                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Username or Email" required="">
                            </div>
                            
                        </div>
                        <div id="btn" style="padding: 30px;">
                            <button type="submit" style="background-color: rgb(247, 137, 137);" class="btn btn-outline-light btn-lg px-5">Submit Now</button>
                        </div>
                    </form>
                </div>
                
            </div>
        <!-- //main content -->
        {% if message %}<script>alert("{{message}}")</script>{% endif %}
        
    </div>
</section>

    <!-- fontawesome v5-->
    <script src="{% static 'js/fontawesome.js' %} "></script>

</body>

</html>

{% endblock %}


